@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  @apply flex flex-col items-center justify-center min-h-screen py-2 max-w-lg min-w-96 mx-auto bg-neutral-800;
}

/*
 *
 * Pokemon Types Background colors
 *
 * Source: https://gist.github.com/apaleslimghost/0d25ec801ca4fc43317bcff298af43c3
 */
.normal {
  background-color: #a8a77a;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #f7d02c;

  @apply text-neutral-700;
}
.grass {
  background-color: #7ac74c;
}
.ice {
  background-color: #96d9d6;

  @apply text-neutral-700;
}
.fighting {
  background-color: #c22e28;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;

  @apply text-neutral-700;
}
.flying {
  background-color: #a98ff3;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #b7b7ce;

  @apply text-neutral-700;
}
.fairy {
  background-color: #d685ad;
}
